html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    /* background-color: wheat; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    height: 100%;
}

main,
.welcome-component {
    height: 100%;
    width: 100%;
}

.welcome-component,
.welcome-backdrop,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*logo:
https://eu0.flamingtext.com/net-fu/dynamic.cgi?script=birdy-logo&text=amJam&fontsize=100&fontname=sansserif+bold&textColor=%23000&outlineColor=%23fff&backgroundRadio=0&backgroundColor=%23089ae2#enterText
*/

#logo {
    height: 100px;
}

/* -------------------------- /welcome ------------------------------------------------------- */
/*
Backdrop blur filter idea from:
https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535
*/

.welcome-component {
    /* border: 2px red solid; */
    background-image: url("back-large.jpg");
    background-size: cover;
    color: white;

    /* backdrop blur code below */
    background-attachment: fixed;
}

.welcome-backdrop {
    border-radius: 20px;
    /* background-color: white; */
    padding: 10px 100px;

    /* backdrop blur code below */
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1); */
    position: relative;
    background: inherit;
    overflow: hidden;
    z-index: 5;
}

.welcome-backdrop:before {
    /* backdrop blur code below */
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 1px 1px 10000px 1px rgb(0, 0, 0),
        inset -1px -1px 1000px 1px rgba(0, 0, 0);
    filter: blur(15px);
    margin: -5px;
    z-index: -5;
}

.welcome-component h1 {
    /* border: 1px red solid; */
    text-align: center;
    font-size: 50px;
    margin: 30px 0 0;
}

.subTitle {
    font-size: 25px;
}

/* -------------------------- Form ------------------------------------------------------- */
/*
Input field focus border-animation from (effect 2):
https://codepen.io/Takumari85/pen/RaYwpJ
*/

.form {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 50px 40px;
    padding: 20px 0px 0px;
    /* box-shadow: 1px 1px 1px grey; */
}

.form h3 {
    /* border: 1px solid red; */
    margin: 0 0 10px;
    color: grey;
    font-size: 30px;
    font-weight: 400;
}

.form-desc {
    color: grey;
    max-width: 400px;
    text-align: center;
    margin: 20px 50px 50px;
}

.input-field-div {
    /* border: 1px blue solid; */
    margin: 15px 50px;
    position: relative;
}

/* .input-label {
    margin: 0;
} */

.input-field-div input {
    border: none;
    border-bottom: 1px lightgrey solid;
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0);
    height: 30px;
    width: 300px;
}
.input-field-div input:focus {
    outline: none;
}

.input-field-div input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: grey;
    transition: 0.4s;
}

.input-field-div input::placeholder {
    font-size: 16px;
}

.form button {
    border: none;
    /* border: 1px rgba(245, 245, 245, 0.295) solid; */
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to bottom, #393939 0%, #151515 100%);
    filter: contrast(80%);
    color: whitesmoke;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form button:hover {
    filter: contrast(100%);
}
.form button:focus {
    outline: none;
    filter: contrast(150%);
}

.error-message {
    color: red;
    text-align: center;
    margin: 10px;
}

.success {
    color: green;
    font-size: 30px;
    margin: 20px;
}

/* -------------------------- /register /login specifics ------------------------------------------------------- */

.register-form {
}

.toggle-reg-log {
    /* border: 1px red solid; */
    color: rgb(162, 162, 162);
    font-size: 16px;
    margin: 0;
}
