/* * {
    margin: 0;
} */

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    /* background-color: wheat; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    height: 100%;
}

main,
.welcome-component {
    height: 100%;
    width: 100%;
}

.welcome-component,
.welcome-backdrop,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -------------------------- logged in ------------------------------------------------------- */

#app-component {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* position: relative; */
}

#app-component::after {
    content: "";
    background-image: url("back-large.jpg");
    background-image: linear-gradient(
        to top,
        #000000,
        #231114,
        #3e1a1a,
        #59251c,
        #713418,
        #713418,
        #713418,
        #713418,
        #59251c,
        #3e1a1a,
        #231114,
        #000000
    );
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -20;
}

#browser-router {
    /* border: 2px red solid; */
    height: 100%;
    margin: 0;

    /* NEW */
    display: grid;
    grid-template-rows: 110px 1fr;
}

/* -------------------------- HEADER ------------------------------------------------------- */

#header {
    /* border: 1px solid red; */
    border-bottom: 2px black solid;
    /* height: 135px; */
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 110px;
    position: relative;
    color: white;
}
#header::after {
    content: "";
    background-image: url("header44.jpg");
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

/*logo:
https://editor.freelogodesign.org/?lang=en&companyname=amJam&category=15
*/

#logo-div {
    /* border: 1px blue solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1 / span 1;
}

#logo {
    /* border: 1px red solid; */
    border-radius: 100%;
    height: 80px;
    width: auto;
}
#logo:hover {
    background-color: lightgrey;
}

#logout {
    color: lightgrey;
    margin-left: 20px;
}
/* -------------- NAVBAR ---------------- */

#navbar {
    /* border: 1px red solid; */
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    /* border: 1px solid black; */
    border-right: 1px lightgrey solid;
    /* border-bottom: 1px rgba(255, 255, 255, 0) solid; */

    background-color: rgba(208, 208, 208, 0.7);

    padding: 20px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-weight: bold;
}
.nav-link:hover {
    /* border-bottom: 1px lightgrey solid; */
    background-color: whitesmoke;
    color: black;
    /* color: rgb(34, 34, 34); */
    /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75); */
}
.nav-link,
.nav-link:hover {
    border-color: black;
}

.last-link {
    border-right: none;
}

#header-pic {
    /* border: 1px blue solid; */
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------- PROFILE COMPONENT ------------------------------------------------------------------------- */

#profile-component {
    display: flex;
}

/* -------------------------------- Profile Picture -------------------------------- */

/* ------------- Profile Picture in app.js ---------------- */
#header-pic .prof-pic-div {
    /* border: 2px rgb(85, 85, 85) solid; */
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding: 4px;
}
#header-pic .prof-pic-div:hover {
    background-color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

#header-pic .profile-pic {
    /* border-bottom: 2px rgb(85, 85, 85) solid; */
    margin: 0px;
    background-color: whitesmoke;
    object-fit: cover;
}
#header-pic .prof-pic-div,
#header-pic .profile-pic {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    border-radius: 100%;
}

/* ------------- Profile Picture in profile.js ---------------- */

#pic-inProfile .prof-pic-div {
    /* border: 2px rgb(85, 85, 85) solid; */
    margin: 30px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
#pic-inProfile .prof-pic-div:hover {
    background-color: whitesmoke;
    /* filter: contrast(120%); */
}

#pic-inProfile .profile-pic {
    /* border-bottom: 2px rgb(85, 85, 85) solid; */
    margin: 0px;
    background-color: rgba(245, 245, 245, 0);
    object-fit: contain;
}
#pic-inProfile .prof-pic-div,
#pic-inProfile .profile-pic {
    border-radius: 5px;
    min-height: 150px;
    min-width: 150px;
    max-height: 250px;
    max-width: 250px;
}

#pic-inProfile .other-prof {
    cursor: default;
}
#pic-inProfile .other-prof:hover {
    background-color: rgba(255, 255, 255, 0);
    filter: none;
}

/* -------------------------------- Bio -------------------------------- */

#bio-div {
    /* border: 1px purple solid; */
    padding: 20px;
}

#bio-editor {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bio-text {
    border: 1px grey solid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px;
}

#bio-textarea {
    width: 30vw;
    height: 250px;
}

.bio-button {
    /* border: 1px red solid; */
    text-decoration: underline;
    cursor: pointer;
}

#submit-and-cancel-bio {
    /* border: 1px green solid; */
    width: 100%;
    /* display: flex; */
}

#cancel {
    /* border: 1px red solid; */
    display: inline-block;
}

#submit-bio {
    /* border: 1px blue solid; */
    float: right;
}

/* --------------------------- Upload Profile Pic Modal ------------------ */
#upload-container {
    /* border: 1px blue solid; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upload-modal-div {
    /* border: 2px grey solid; */
    border-radius: 20px;
    background-image: url("modal.jpg");
    background-size: cover;
    padding: 50px;
    text-align: center;
    position: relative;
}

.uploader-text {
    margin: 50px;
}

#choose-image {
    /* Hiding actual (unstylable) 'choose file' button */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#choose-img-label {
    /* border: 2px grey solid; */
    color: white;
    background-color: rgb(70, 70, 70);
    font-size: 20px;
    padding: 6px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}
#choose-img-label:hover {
    background-color: black;
}

#submit-image {
    border: 2px grey solid;
    margin: 30px;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
#submit-image:hover {
    background-color: rgb(60, 60, 60);
    color: white;
}

#x-upload {
    /* border: 1px red solid; */
    color: grey;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 15px;
    cursor: pointer;
}
#x-upload:hover {
    color: black;
}

/* -------------------------- /welcome ------------------------------------------------------- */
/*
Backdrop blur filter idea from:
https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535
*/

.welcome-component {
    /* border: 2px red solid; */
    background-image: url("back-large.jpg");
    background-size: cover;
    color: white;

    /* backdrop blur code below */
    background-attachment: fixed;
}

.welcome-backdrop {
    border-radius: 20px;
    /* background-color: white; */
    padding: 10px 100px;

    /* backdrop blur code below */
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1); */
    position: relative;
    background: inherit;
    overflow: hidden;
    z-index: 5;
}

.welcome-backdrop:before {
    /* backdrop blur code below */
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 1px 1px 10000px 1px rgb(0, 0, 0),
        inset -1px -1px 1000px 1px rgba(0, 0, 0);
    filter: blur(15px);
    margin: -5px;
    z-index: -5;
}

.welcome-component h1 {
    /* border: 1px red solid; */
    text-align: center;
    font-size: 50px;
    margin: 30px 0 0;
}

.subTitle {
    font-size: 25px;
}

/* -------------------------- Form ------------------------------------------------------- */
/*
Input field focus border-animation from (effect 2):
https://codepen.io/Takumari85/pen/RaYwpJ
*/

.form {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 50px 40px;
    padding: 20px 0px 0px;
    /* box-shadow: 1px 1px 1px grey; */
}

.form h3 {
    /* border: 1px solid red; */
    margin: 0 0 10px;
    color: grey;
    font-size: 30px;
    font-weight: 400;
}

.form-desc {
    color: grey;
    max-width: 400px;
    text-align: center;
    margin: 20px 50px 50px;
}

.input-field-div {
    /* border: 1px blue solid; */
    margin: 15px 50px;
    position: relative;
}

/* .input-label {
    margin: 0;
} */

.input-field-div input {
    border: none;
    border-bottom: 1px lightgrey solid;
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0);
    height: 30px;
    width: 300px;
}
.input-field-div input:focus {
    outline: none;
}

.input-field-div input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: grey;
    transition: 0.4s;
}

.input-field-div input::placeholder {
    font-size: 16px;
}

.form button {
    border: none;
    /* border: 1px rgba(245, 245, 245, 0.295) solid; */
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to bottom, #393939 0%, #151515 100%);
    filter: contrast(80%);
    color: whitesmoke;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form button:hover {
    filter: contrast(100%);
}
.form button:focus {
    outline: none;
    filter: contrast(150%);
}

.error-message {
    color: red;
    text-align: center;
    margin: 10px;
}

.success {
    color: green;
    font-size: 30px;
    margin: 20px;
}

/* -------------------------- /register /login specifics ------------------------------------------------------- */

.toggle-comps {
    /* border: 1px red solid; */
    color: rgb(162, 162, 162);
    font-size: 16px;
    margin: 0 0 20px;
}

#to-reset {
    color: grey;
}

/* ----------------------------------- FIND PEOPLE COMPONENT ------------------------------------------------------------------------- */

#search-page {
    /* border: 2px green solid; */
    box-sizing: border-box;

    /* height: calc(100% - 112px); */
    display: grid;
    grid-template-columns: 400px 1fr;
}

/*  -------  search left column ------- */
#search-left-col {
    /* border: 1px hotpink solid; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-header {
    /* border: 1px solid green; */
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#search-page .input-field-div {
    background-color: rgb(237, 237, 237);
}

#search-input {
    text-align: center;
}

/*  -------  search right column ------- */
#search-results {
    /* border: 1px red solid; */
    border-left: 2px black solid;
    /* height: 90%; */
    max-height: 78vh;
    padding: 20px;
    margin: 10px 0;
    overflow: scroll;
}

#search-results h3 {
    margin: 0;
}

.search-result {
    /* border: 1px solid purple; */
    /* border-bottom: 1px solid grey; */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-result:hover {
    filter: contrast(120%);
    background-color: whitesmoke;
}

.search-result img {
    /* border: 1px red solid; */
    border-radius: 5px;
    height: 120px;
    width: 120px;
    object-fit: cover;
}
.search-result p {
    margin-left: 30px;
    font-size: 20px;
}

#search-name-link {
    color: black;
    text-decoration: none;
}

/* ----------------------------------- FriendshipButton ------------------------------------------------------------------------- */
#friend-info button {
    cursor: pointer;
}

/* ----------------------------------- friends.js FriendsAndWannabes component ------------------------------------------------------------------------- */
#friends-page {
    /* border: 1px red solid; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: calc(100% - 140px); */
}

#friends-page > div {
    /* border: 1px blue solid; */
    padding: 10px;
    height: 98%;
    max-height: 81vh;
    /* max-height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#friends-page > div p:first-child span:first-child {
    font-size: 25px;
    font-weight: bold;
}

#friends-page > div p:first-child span:last-child {
    font-size: 20px;
    color: grey;
}

.friends-lists {
    border-top: 2px rgb(152, 152, 152) solid;
    border-top: 1px black solid;
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* max-height: 600px; */
    max-height: 75vh;
    /* max-height: 20%; */
    overflow: scroll;
}

.name-and-buttons {
    /* border: 2px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.name-and-buttons div {
    margin-bottom: 20px;
    margin-left: 30px;
}

.name-and-buttons div button {
    border: black 1px solid;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
.name-and-buttons div button:hover {
    background-color: grey;
    color: white;
}

.decline-button {
    /* border: 1px red solid; */
    margin-left: 20px;
}

.name-link {
    /* border: 1px red solid; */
    text-decoration: underline;
    color: black;
}

/* ----------------------------------- Chat ------------------------------------------------------------------------- */
#chat-page {
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chat-messages-container {
    border: 1px green solid;
    width: 80%;
    /* position: relative;
    height: 100%; */
}

#chat-messages {
    padding: 10px;
}
#chat-messages-container textarea {
    /* border: 1px green solid; */
    /* position: absolute;
    left: 0;
    right: 0; */
}

#chat-messages {
    border: 1px red solid;
    max-height: 300px;
    overflow-y: scroll;
}

.message-container {
    border: 1px salmon solid;
    display: flex;
    margin: 10px 0;
}

.message-container img {
    border-radius: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
